<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <div class="col-lg-3 col-md-12">
        <a class="navbar-brand" [routerLink]="['/']">
          <img [src]="logoUrl" />
        </a>
        <button class="navbar-toggler pull-right" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-lg-9 col-md-12">
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item m-2" *ngFor="let link of navLinks">
              <a
                class="nav-link p-0 m-0 color-red"
                [routerLink]="['/' + link]"
                (click)="isMenuCollapsed = true"
                routerLinkActive="active"
                >{{ 'NAVIGATION.' + link.toUpperCase() | translate }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
