<div class="row categories-container">
  <ng-container *ngIf="categories?.length > 0; else nothingFound">
    <ng-container *ngFor="let category of categories">
      <div class="col-lg-4 col-md-6 col-xs-12 pt-4" *ngIf="isCategoryNotEmpty(category)">
        <app-category [category]="category"></app-category>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #nothingFound>
  <div class="col-12 pt-4">
    <div class="card h-100 w-100">
      <div class="card-body text-center">
        <h2 class="card-title">{{ 'TOOLBOX_PAGE.NOT_FOUND.NOTHING_FOUND' | translate }}</h2>
        <h5 class="card-title">
          {{ 'TOOLBOX_PAGE.NOT_FOUND.TRY_OTHER_CRITERIA' | translate }}
        </h5>
        <button type="button" class="btn btn-outline-primary" (click)="resetSearchCriteria()">
          {{ 'TOOLBOX_PAGE.NOT_FOUND.RESET_SEARCH_BTN' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
