// Nav links colors
$header-red: #f3504c;
$header-blue: #448aff;
$header-grey: #607d8b;
$header-green: #00796b;
$header-orange: #ff9800;
$header-purple: #512da8;
$header-pink: #c2185b;
$header-default: #f3504c;

$white: #ffffff;
$border-grey: #00000020;
