// Nav links color
$header-red: #f3504c;

$white: #ffffff;
$border-grey: #00000020;
$page-background: #e6e6e6;
$dark-background: #343656;
$page-color: #333333;

// Overrides default Bootstrap colors
$primary: #2a2c46;
$dark: #2a2c46;
