<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        Company Data
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        Terms and Conditions
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-link text-white" (click)="changeLanguage('pl')">Polski</button>
        <button type="button" class="btn btn-link text-white" (click)="changeLanguage('en')">English</button>
      </div>
    </div>
  </div>
</footer>
