<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        {{ 'FOOTER.COMPANY.NAME' | translate }}
        <address>{{ 'FOOTER.COMPANY.ADDRESS' | translate }}</address>
        <p>{{ 'FOOTER.COMPANY.KRS' | translate: { value: '0000331632' } }}</p>
        <p>{{ 'FOOTER.COMPANY.REGON' | translate: { value: '280404074' } }}</p>
        <p>{{ 'FOOTER.COMPANY.NIP' | translate: { value: '5783048378' } }}</p>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <div
          [innerHTML]="
            'FOOTER.LEGAL'
              | translate: { termsUrl: 'https://www.predica.pl/privacy-policy/', conditionsUrl: 'https://www.predica.pl/gdpr/' }
          "
        ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-link text-white" (click)="changeLanguage('pl')">Polski</button>
        <button type="button" class="btn btn-link text-white" (click)="changeLanguage('en')">English</button>
      </div>
      <div class="col-12">
        <p>{{ 'FOOTER.COPYRIGHT' | translate: { year: getCurrentYear() } }} - {{ 'FOOTER.COMPANY.NAME' | translate }}</p>
      </div>
    </div>
  </div>
</footer>
