<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img [src]="logoUrl" class="footer-logo" />
        <br />
        {{ 'FOOTER.COMPANY.NAME' | translate }}
        <address>{{ 'FOOTER.COMPANY.ADDRESS' | translate }}</address>
      </div>
      <div class="col-md-4 col-sm-12">
        <p>
          {{ 'FOOTER.COMPANY.KRS' | translate: { value: '0000331632' } }}<br />
          {{ 'FOOTER.COMPANY.REGON' | translate: { value: '280404074' } }}<br />
          {{ 'FOOTER.COMPANY.NIP' | translate: { value: '5783048378' } }}
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <div
          [innerHTML]="
            'FOOTER.LEGAL'
              | translate
                : {
                    termsUrl: 'https://www.predica.pl/privacy-policy/',
                    conditionsUrl: 'https://www.predica.pl/gdpr/'
                  }
          "
        ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-md-center">
        <ng-container *ngFor="let language of languages; let last = last">
          <button type="button" class="btn btn-link text-white px-0" (click)="changeLanguage(language)">
            {{ 'FOOTER.LANGUAGE.' + language | translate }}
          </button>
          <span *ngIf="!last" class="px-1">•</span>
        </ng-container>
      </div>
      <div class="col-12 text-md-center">
        <p>
          {{ 'FOOTER.COPYRIGHT' | translate: { year: getCurrentYear() } }} -
          <span class="text-nowrap">{{ 'FOOTER.COMPANY.NAME' | translate }}</span>
        </p>
      </div>
    </div>
  </div>
</footer>
