<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title text-nowrap text-truncate text-primary">
      <fa [name]="category.iconUrl ? category.iconUrl : 'folder'"></fa>
      {{ category.name | uppercase }}
    </h5>
    <ul class="list-group list-group-flush">
      <li *ngFor="let link of category.links" class="list-group-item list-group-item-action">
        <a [href]="link.url" class="card-link w-100 d-block text-secondary" target="_blank"
          >{{ link.name }}
          <fa name="chevron-right" class="pull-right text-primary d-none"> </fa>
        </a>
      </li>
    </ul>
  </div>
</div>
